{
  "$schema": "https://json.schemastore.org/swcrc",
  "exclude": [ "^\\S+.d.ts$" ],
  "jsc": {
    "parser": {
      "syntax": "typescript"
    },
    "target": "es2022"
  },
  "module": {
    "type": "es6"
  },
  "isModule": true
}
